<div class="category-products" >
	<h3 style="color:#0072b4;">Vacationing in Vienna? Relocating to Reykjavic? ACUPWR lets you bring your American appliances with you! &nbsp;</h3>
	<ul class="products-grid products-grid--max-4-col first last odd">
		<li class="item last">
			<a href="https://acupwr.com/pages/voltage-transformers-converters" title="Transformers" class="product-image">
				<img id="product-collection-image-7596" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) ?>catalog/overseas/transformers.jpg" alt="Transformers">
			</a>
			<div style="min-height: 0px;" class="product-info">
				<h3 class="product-name">
					<a href="https://acupwr.com/pages/voltage-transformers-converters" title="Transformers">
					ACUPWR Voltage Transformers
					</a>
				</h3>
			</div>
		</li>
		<li class="item last">
			<a href="https://acupwr.com/collections/global-surge-protector-lifetime-warranty" title="Protectors" class="product-image">
				<img id="product-collection-image-7596" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) ?>catalog/overseas/protectors.jpg" alt="Protectors">
			</a>
			<div style="min-height: 0px;" class="product-info">
				<h3 class="product-name">
					<a href="https://acupwr.com/collections/global-surge-protector-lifetime-warranty" title="Protectors">
					ACUPWR Surge Protectors
					</a>
				</h3>
			</div>
		</li>
		<li class="item last">
			<a href="https://acupwr.com/collections/plug-adapters" title="Adapters" class="product-image">
				<img id="product-collection-image-7596" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) ?>catalog/overseas/adapters.jpg" alt="Adapters">
			</a>
			<div style="min-height: 0px;" class="product-info">
				<h3 class="product-name">
					<a href="https://acupwr.com/collections/plug-adapters" title="Adapters">
					ACUPWR Plug Adapters
					</a>
				</h3>
			</div>
		</li>
		<li class="item last">
			<a href="https://acupwr.com/collections/voltage-stabilizer" title="Stabilizers" class="product-image">
				<img id="product-collection-image-7596" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) ?>catalog/overseas/stabilizers.jpg" alt="Stabilizers">
			</a>
			<div style="min-height: 0px;" class="product-info">
				<h3 class="product-name">
					<a href="https://acupwr.com/collections/voltage-stabilizer" title="Stabilizers">
					ACUPWR Voltage Stabilizers
					</a>
				</h3>
			</div>
		</li>
		
	</ul>
</div>