<form action="<?php echo Mage::getUrl('productcreator/index/salessubmit') ?>" method="POST">
 	<div class="fieldset">
        <ul class="form-list">
            <li class="col2">
				<label for="first_name" class="required"><em>*</em>First Name</label>
				<div class="input-box">
					<input type=hidden name="oid" value="00Di0000000Y4be">
					<input type=hidden name="retURL" value="<?php echo Mage::getUrl('productcreator/index/leadsuccess') ?>?redirect=<?php echo urlencode(Mage::helper('core/url')->getCurrentUrl()) ?>">
					<input type="hidden" name="redirecturl" value="<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>" >
					<input  id="first_name" maxlength="40" name="first_name" size="20" type="text" />
				</div>
			</li>
			<li class="col2">
				<label for="last_name" class="required"><em>*</em>Last Name</label>
				<div class="input-box">
					<input id="00Ni000000Cc9g6" name="00Ni000000Cc9g6" type="hidden" value="1" /> 
					<input  id="last_name" maxlength="80" name="last_name" size="20" type="text" />
				</div>
			</li>
			<li class=" clear col2">
				<label for="phone" class="required"><em>*</em>Phone</label>
				<div class="input-box">
					<input  id="phone" maxlength="40" name="phone" size="20" type="text" />
				</div>
			</li>
			<li  class="col2">
				<label for="email" class="required"><em>*</em>Email</label>
				<div class="input-box">
					<input  id="email" maxlength="80" name="email" size="20" type="text" />
				</div>
			</li>
			<li class=" clear ">
				<label for="street" class="required"><em>*</em>Address</label>
				<div class="input-box">
					<textarea name="street"></textarea>
				</div>
			</li>
			<li class="col2">
				<label for="city" class="required"><em>*</em>City</label>
				<div class="input-box">
					<input  id="city" maxlength="40" name="city" size="20" type="text" />
				</div>
			</li>
			<li class="col2">
				
					<div class="innercol2">
						<label for="state" class="required"><em>*</em>State/Province</label>
						<div class="input-box">
							<input  id="state" maxlength="20" name="state" size="20" type="text" />
						</div>
					</div>
					<div class="innercol2">
						<label for="zip" class="required"><em>*</em>Zip</label>
						<div class="input-box">
							<input  id="zip" maxlength="20" name="zip" size="20" type="text" />
						</div>
					</div>
					
				
			</li>
			
			
			<li style="display:none;">
				<label for="country" class="required"><em>*</em>Country</label>
				<div class="input-box">
					<input  id="country" maxlength="40" value="United States" name="country" size="20" type="text" />
				</div>
			</li>
			<li class=" clear col2">
				<label for="00Ni00000059MgJ" class="required"><em>*</em>Utility Company</label>
				<div class="input-box">
					<select  id="00Ni00000059MgJ" name="00Ni00000059MgJ" title="Utility Company">
						<option value="">--None--</option>
						<option value="ConED">ConED</option>
						<option value="Eversource (CTL&amp;P)">Eversource (CTL&amp;P)</option>
						<option value="JCP&amp;L">JCP&amp;L</option>
						<option value="Marin Clean Energy">Marin Clean Energy</option>
						<option value="National Grid">National Grid</option>
						<option value="NSTAR">NSTAR</option>
						<option value="PG&amp;E">PG&amp;E</option>
						<option value="PSE&amp;G">PSE&amp;G</option>
						<option value="SCE">SCE</option>
						<option value="SDG&amp;E">SDG&amp;E</option>
						<option value="SMUD">SMUD</option>
						<option value="Sonoma Clean Power">Sonoma Clean Power</option>
						<option value="United Illuminating">United Illuminating</option>
						<option value="Western Massachusetts Electric(WAMECO)">Western Massachusetts Electric(WAMECO)</option>
					</select>
				</div>
			</li>
			<li class="col2">
				<label for="00Ni00000059Mfo" class="required"><em>*</em>Average Utility Bill</label>
				<div class="input-box">
					<select  id="00Ni00000059Mfo" name="00Ni00000059Mfo" title="Average Utility Bill">
						<option value="">--None--</option>
						<option value="Unknown">Unknown</option>
						<option value="0-50">0-50</option>
						<option value="51-100">51-100</option>
						<option value="101-150">101-150</option>
						<option value="151-200">151-200</option>
						<option value="201-250">201-250</option>
						<option value="251-300">251-300</option>
						<option value="301-350">301-350</option>
						<option value="351-400">351-400</option>
						<option value="401-450">401-450</option>
						<option value="451-500">451-500</option>
						<option value="500+">500+</option>
					</select>
				</div>
			</li>
			<li class="clear" style="display:none;">
				<label for="00Ni00000059Mg2" class="required"><em>*</em>Lead Originator</label>
				<div class="input-box">
					<input  id="00Ni00000059Mg2" maxlength="50" name="00Ni00000059Mg2" value="WattDoesItUse.com" size="20" type="text" />
				</div>
			</li >
			<li  style="display:none;">
				<label for="00Ni00000065e3V" class="required"><em>*</em>Lead Originator Contact</label>
				<div class="input-box">
					<input  id="00Ni00000065e3V" maxlength="50" value="Corey Ganser"  name="00Ni00000065e3V" size="20" type="text" />
				</div>
			</li>
			<li  style="display:none;">
				<label for="00Ni000000Cc9g6" class="required"><em>*</em>Email Notification</label>
				<div class="input-box">
					<input  id="00Ni000000Cc9g6" name="00Ni000000Cc9g6" checked="checked" type="checkbox" value="1" />
				</div>
			</li>
			<!--
			<li  style="display:none;">
				<label for="00Ni00000079tbf" class="required"><em>*</em>Site Visit Date</label>
				<div class="input-box">
					<input  id="00Ni00000079tbf" value="<?php echo Mage::getModel('core/date')->date('Y-m-d'); ?>" name="00Ni00000079tbf" size="12" type="text" />
				</div>
			</li>
			<li  style="display:none;">
				<label for="00Ni00000079tbv" class="required"><em>*</em>Site Visit Time</label>
				<div class="input-box">
					<input  id="00Ni00000079tbv"  value="<?php echo Mage::getModel('core/date')->date('H:i:s'); ?>" maxlength="8" name="00Ni00000079tbv" size="20" type="text" />
				</div>
			</li>
			-->
			<li style="display:none;">
				<label for="lead_source" class="required"><em>*</em>Lead Source</label>
				<div class="input-box">
					<select  id="lead_source" name="lead_source">
						<option value="">--None--</option>
						<option selected="selected" value="Web Form">Web Form</option>
					</select>
				</div>
			</li>
			<div class="buttons-set">
				<input type="submit" class="button" name="submit">
			</div>
		</ul>
	</div>
</form>
<style>
 .std ul li {
    list-style: none;
}
 .col2{
	 width:365px;;
	 float:left;
	
 }
 .innercol2{
	 width:173px;
	 float:left;
	 margin-right:5px;
 }
 .clear{
	 clear:both;
 }
</style>
