<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{var customer.firstname}},</h1>
            <p>Thanks for creating an account on {{var store.getFrontendName()}}! To log in when visiting our site just click <a href="{{store url="customer/account/"}}">Login</a> at the top of every page, and then enter your email address and password.</p>
            <p>When you log in to your account, you will be able to do the following:</p>
            <ul>
                <li>Create a list of devices you own</li>
                <li>See the total watt usage for all of your devices</li>
                <li>See the standby watt usage for all of your devices</li>
                <li>Calculate electricity cost for your devices</li>
            </ul>
            <p>
                If you have any questions, please feel free to contact us at
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
