<!--@subject Take a look at {{var customer.name}}'s wishlist @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var message":"Wishlist Message",
"var items":"Wishlist Items"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <h1>Hey, take a look at My Devices from {{var store.getFrontendName()}}.</h1>
                        <table cellspacing="0" cellpadding="0" class="message-container">
                            <tr>
                                <td>{{var message}}</td>
                            </tr>
                        </table>
                        {{var items}}
                        <strong><a href="{{var viewOnSiteLink}}">View My Devices</a></strong></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
