<?php
/**
 * This form allows people to request devices that aren't on the site. We prefill the modelnumber with the search that they entered in case they couldn't find something.
 */
?>


<div class="cognito">
<script src="https://services.cognitoforms.com/include/required"></script>
<script src="https://services.cognitoforms.com/session/script/12e319ad-3b74-423f-8f60-7b18e02f9b7a"></script>

<?php
if(isset($_GET['q'])) {
$modelnumber = $_GET['q'];
} else {
$modelnumber = NULL;
}

?>

<script>Cognito.load("forms", { id: "3", entry: {ModelNumber: "<?php echo $modelnumber;?>"}});</script>
</div>

