<form role="form" action="requestprod.php" method="POST">


<!-- TODO: Need to add the category ID as the value for the options -->
    <div class="form-group">
        <label for="devicetype">Device Type:</label>
        <select class="form-control" id="devicetype">
            <option value="">Select a type</option>
            <option value="Refrigerators">Refrigerators</option>
            <option value="Dishwashers">Dishwashers</option>
            <option value="Microwaves">Microwaves</option>
            <option value="Washers">Washers</option>
            <option value="Dryers">Dryers</option>
            <option value="Air Purifiers">Air Purifiers</option>
            <option value="Freezers">Freezers</option>
            <option value="Washer">Dehumidifiers</option>
            <option value="Washer">Air Conditioners</option>
            <option value="Washer">Computers</option>
            <option value="Washer">Televisions</option>
            <option value="Washer">Computer Monitors</option>
            <option value="Washer">Projectors</option>
            <option value="Washer">Printers, Scanners, and Copiers</option>
            <option value="Washer">DVD/Blu-Ray Players</option>
            <option value="Washer">Video Game Consoles</option>
            <option value="Washer">3d Printers</option>
            <option value="Washer">Streaming media players</option>
            <option value="Washer">Miscellaneous</option>
            <option value="Washer">Lighting</option>
            <option value="Washer">Alternative Energy Product</option>

            </select>
    </div>

    <div class="form-group">
        <label for="manufacturer">Manufacturer:</label>
        <input type="text" class="form-control" id="manufacturer">
    </div>
    <div class="form-group">
        <label for="model">Model number:</label>
        <input type="text" class="form-control" id="model">
    </div>
    <div class="form-group">
        <label for="watts">Watts:</label>
        <input type="text" class="form-control" id="watts">
    </div>
    <div class="form-group">
        <label for="standbywatts">Stand by:</label>
        <input type="text" class="form-control" id="standbywatts">
    </div>
    <div class="form-group">
        <label for="kwhpery">kWh per Year:</label>
        <input type="text" class="form-control" id="kwhpery">
    </div>
    <div class="form-group">
        <label for="energystar">Energy Star Certified?:</label>
        <select class="form-control" id="energystar">
            <option value="No">No</option>
            <option value="Yes">Yes</option>

        </select>
    </div>

    <div class="form-group">
        <label for="asin">Amazon ASIN:</label>
        <input type="text" class="form-control" id="asin">
    </div>


    <button type="submit" class="btn btn-default">Submit</button>
</form>