<?php
/**
 *   This form calculates the estimated watt usage of a device
 */
$customer = Mage::getSingleton('customer/session')->getCustomer();
 if($customer->getId())
{
     $wishlist = Mage::getModel('wishlist/wishlist')->loadByCustomer($customer, true);
     $wishListItemCollection = $wishlist->getItemCollection();
	 $wattusage=0;
     foreach ($wishListItemCollection as $item)
     {
		   $product = Mage::getModel('catalog/product')->load($item->getProductId());
		   $wattusage=$wattusage+$product->getWattusage()* $item->getQty();
	 }
}
?>

<script>
$j( document ).ready(function($) {

    var htwtotal = 0.00;
    $('#wishlist-table tbody tr input#htwcalc').each(function(){

        if($(this).val() != ''){
            htwtotal = htwtotal + parseFloat($(this).val());
        }

    });


    var standtotal = 0.00;
    $('#wishlist-table tbody tr input#standbyval').each(function(){

        if($(this).val() != 'N/A'){
            standtotal = standtotal + parseFloat($(this).val());
        }

    });


    function computeCost(days) {
        var maxwatts = htwtotal / 1000;
        var cost = $('#cost').val();

        return maxwatts * cost * days;
    }

    function standbyCost(days) {
        var maxwatts = (standtotal) / 1000;
        var cost = $('#cost').val();

        return maxwatts * 24 * cost * days;
    }
	function computeCo2(days)
	{
		
		 $elements=document.getElementsByClassName('hiddenitemco2');
		$co2=0;
		for(i=0;i<$elements.length;i++)
		{	
			console.log($co2);
			$co2=$co2+parseFloat($elements[i].value);
		}
         return $co2 * days;
	}
	$('#dailyco2').html((computeCo2(1).toFixed(2))+' lbs');
	$('#monthlyco2').html( (computeCo2(30).toFixed(2))+' lbs');
	$('#totalco2').html( (computeCo2(365).toFixed(2))+' lbs');	
	
    $('#total').html("$" + (computeCost(365).toFixed(2)));
    $('#monthly').html("$" + (computeCost(30).toFixed(2)));
    $('#daily').html("$" + (computeCost(1).toFixed(4)));


    $("#cost")
            .keyup(function () {
                var cost = $(this).val();
            })
            .keyup();


    $('#cost').on('keyup', function () {
        $('#total').html("$" + (computeCost(365).toFixed(2)));
    });
    $('#cost').on('keyup', function () {
        $('#monthly').html("$" + (computeCost(30).toFixed(2)));
    });
    $('#cost').on('keyup', function () {
        $('#daily').html("$" + (computeCost(1).toFixed(2)));
    });





   if (standtotal) {
       $('#totalstand').html("$" + (standbyCost(365).toFixed(2)));
       $('#monthlystand').html("$" + (standbyCost(30).toFixed(2)));
       $('#dailystand').html("$" + (standbyCost(1).toFixed(4)));

       $('#cost').on('keyup', function () {
           $('#totalstand').html("$" + (standbyCost(365).toFixed(2)));
           $('#monthlystand').html("$" + (standbyCost(30).toFixed(2)));
           $('#dailystand').html("$" + (standbyCost(1).toFixed(4)));
       });
       
   }
    else{
       $('#totalstand').html("NA");
       $('#monthlystand').html("NA");
       $('#dailystand').html("NA");
   }

});



</script>

<div id="wattcalc">
<form id="calc">
     <input type="hidden" id="maxwatts" class="wattcalc" value="<?php echo $wattusage ?>" name="watts">
    <input type="hidden" id="standby" class="standby" value="2" name="watts">
<h3>Power Consumption Calculator</h3>

<span>
     kWh cost $ <input type="text" id="cost" class="wattcalc" value=".1210" name="cost"></span>
</form>
<table id="calctable" class="data-table">
    <tr>
        <th></th>
        <th>All Devices Usage <span class="tooltip" title="This shows the cost of running your devices."><i class="fa fa-question-circle"></i></span></th>
        <th>All Devices Standby <span class="tooltip" title="This shows the cost of having your devices plugged in 24 hours a day in standby mode."><i class="fa fa-question-circle"></i></span></a></th>
		<th>All Devices Co<sub>2</sub> <span class="tooltip" title="This shows the lbs of CO2 that are created as a byproduct of the electricity needed to run the devices"><i class="fa fa-question-circle"></i></span></a></th>
    </tr>
    <tr>
        <td>Daily</td>
        <td><div id="daily"></div></td>
        <td><div id="dailystand"></div></td>
		<td><div id="dailyco2"></div></td>
    </tr>
    <tr>
        <td>Monthly</td>
        <td><div id="monthly"></div></td>
        <td><div id="monthlystand"></div></td>
		<td><div id="monthlyco2"></div></td>
    </tr>
    <tr>
        <td>Yearly</td>
        <td><div id="total"></div></td>
        <td><div id="totalstand"></div></td>
		<td><div id="totalco2"></div></td>
    </tr>
</table>

</div>
