/* Add these CSS rules to the bottom of your main stylesheet */


#panel {
    font-family: "Vollkorn", Serif;
    padding: 30px;
    display: none;
    background-color: #0072B4;
    color: #fff;
    border: solid 1px #c3c3c3;
    position:fixed;
    right:10%;
    bottom:0px;
    height:210px;
    width:250px;
	z-index:9999;
    
}
#surveyFeedback {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
}

#surveyFeedback li
{
  flex: 0 0 auto;
}

/* End Surveyor CSS rules */
