<?php /* Open Graph Protocol for Facebook and SEO START */ ?>


<?php if(Mage::registry('current_product')): ?>
<?php $product = Mage::registry('current_product'); ?>
<meta property="og:title" content="<?php echo ($product->getName()); ?>"/>
<meta property="og:type" content="product"/>
<meta property="og:image"
      content="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(200,200);?>"/>
<meta property="og:url" content="<?php echo Mage::registry('product')->getProductUrl(); ?>"/>
<meta property="og:description" content="<?php $headBlock = $this->getLayout()->getBlock('head'); echo strip_tags($description=$headBlock->getDescription()); ?>"/>
<meta property="og:site_name" content="<?php echo Mage::app()->getStore()->getFrontEndName(); ?>"/>


<?php elseif(Mage::registry('current_category')): ?>
<?php $category = Mage::registry('current_category'); ?>
<meta property="og:title" content="<?php echo $category->getName(); ?>"/>
<meta property="og:type" content="product.group"/>
<meta property="og:url" content="<?php echo $this->helper('core/url')->getCurrentUrl();?>"/>
<meta property="og:description" content="<?php echo strip_tags($category->getDescription()) ?>"/>
<meta property="og:site_name" content="<?php echo Mage::app()->getStore()->getFrontEndName(); ?>"/>
<meta property="og:image" content="https://www.wattdoesituse.com/skin/frontend/rwd/default/images/oglogolarge.png"/>


<?php elseif((Mage::getSingleton('cms/page')->getIdentifier() == 'home' && Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms')) : ?>
<meta property="og:title" content="<?php echo $this->getLayout()->getBlock('head')->getTitle(); ?>"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"/>
<meta property="og:description" content="<?php $headBlock = $this->getLayout()->getBlock('head'); echo $description=$headBlock->getDescription(); ?>"/>
<meta property="og:site_name" content="<?php echo Mage::app()->getStore()->getFrontEndName(); ?>"/>
<meta property="og:image" content="https://www.wattdoesituse.com/skin/frontend/rwd/default/images/oglogolarge.png"/>


<?php else: ?>
<meta property="og:title" content="<?php echo $this->getLayout()->getBlock('head')->getTitle(); ?>"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="<?php echo $this->helper('core/url')->getCurrentUrl();?>"/>
<meta property="og:description" content="<?php $headBlock = $this->getLayout()->getBlock('head'); echo $description=$headBlock->getDescription(); ?>"/>
<meta property="og:site_name" content="<?php echo Mage::app()->getStore()->getFrontEndName(); ?>"/>
<meta property="og:image" content="https://www.wattdoesituse.com/skin/frontend/rwd/default/images/oglogolarge.png"/>
<?php endif; ?>

<?php /* Open Graph Protocol for Facebook and SEO END */ ?>