<?php
    $urlSaveSettings = $this->getUrl('*/*/savesettings');
    $configImport = Mage::helper('amazonimportproducts')->getConfigParam('import_params');
    $savedImportSettings = Mage::getSingleton('admin/session')->getImportSettings();
    if (!isset($savedImportSettings['import_params']['categories_type'])) {
        $savedImportSettings['import_params']['categories_type'] = 'new';
    }
    // --- amazon_search_params Form ---
    if (isset($savedImportSettings['amazon_search_params']['amazon_import_products_search_params_form'])) {
        if ($savedImportSettings['amazon_search_params']['amazon_import_products_search_params_form']) {
            $styleAmazonSearchParamsForm    = '';
            $cssAmazonSearchParamsForm      = 'open';
        } else {
            $styleAmazonSearchParamsForm    = ' style="display:none;"';
            $cssAmazonSearchParamsForm      = '';
        }
    } else { // --- state by default
        $savedImportSettings['amazon_search_params']['amazon_import_products_search_params_form'] = 1;
        $styleAmazonSearchParamsForm        = '';
        $cssAmazonSearchParamsForm          = 'open';
    }
    // --- import_params Form ---
    if (isset($savedImportSettings['import_params']['amazon_import_products_import_params_form'])) {
        if ($savedImportSettings['import_params']['amazon_import_products_import_params_form']) {
            $styleImportParamsForm  = '';
            $cssImportParamsForm    = 'open';
            $titleImportParamsForm  = $this->__('Import Options (click to collapse the form)');
        } else {
            $styleImportParamsForm  = ' style="display:none;"';
            $cssImportParamsForm    = '';
            $titleImportParamsForm  = $this->__('Import Options (click to expand the form)');
        }
    } else { // --- state by default
        $savedImportSettings['import_params']['amazon_import_products_import_params_form'] = 1;
        $styleImportParamsForm      = '';
        $cssImportParamsForm        = 'open';
        $titleImportParamsForm      = $this->__('Import Options (click to expand the form)');
    }
?>
<div class="entry-edit">
    <fieldset class="help-tip-fieldset">
        <p class="grand-total"><b><?php echo $this->__('How to import products from Amazon? <a id="help-tip-button" href="javascript:;" onclick="wpOpenHelpTip()">Find out</a>')?></b></p>
        <div id="help-tip" style="display:none;">
            <p><?php echo $this->__('Enter Amazon search options and click <strong>"Find Products"</strong> button. Extension would find products and put them in a temporary list in the bottom of this page. To import items into your store, click <strong>"Import Products"</strong> button.')?></p>
            <p><?php echo Mage::helper('amazonimportproducts')->convertedPriceInfo(); ?></p>
        </div>
        <?php $info = Mage::helper('amazonimportproducts')->emptySettingsInfo(); if ($info) echo $info; ?>
    </fieldset>
</div>
<div class="entry-edit">
    <form id="search_params_form" name="search_params_form">
        <div>
            <div class="entry-edit">
                <div class="entry-edit-head collapseable">
                    <a id="amazon_import_products_search_params_form-head" href="javascript:;" onclick="Fieldset.toggleCollapse('amazon_import_products_search_params_form'); saveSettings(); return false;" class="<?php echo $cssAmazonSearchParamsForm; ?>"><?php echo $this->__('Amazon Search Options')?></a>
                    <input id="amazon_import_products_search_params_form-state" name="amazon_search_params[amazon_import_products_search_params_form]" type="hidden" value="<?php echo $savedImportSettings['amazon_search_params']['amazon_import_products_search_params_form']; ?>">
                </div>
                <div class="fieldset" id="amazon_import_products_search_params_form"<?php echo $styleAmazonSearchParamsForm; ?>>
                    <div class="hor-scroll">
                        <table cellspacing="0" class="form-list box-left">
                            <tr>
                                <td class="label"><label for="amazon_search_params[local]"><?php echo $this->__('Local')?></label></td>
                                <td class="value">
                                    <select onchange="updateRootCategoriesList();" name="amazon_search_params[local]" id="amazon_search_params[local]">
                                    <?php
                                        $locales = Mage::getModel('amazonimportproducts/source_local')->getOptionArray();
                                        if (isset($savedImportSettings['amazon_search_params']['local'])) {
                                            $localKeySelected = $savedImportSettings['amazon_search_params']['local'];
                                        } else {
                                            $keys = array_keys($locales);
                                            $localKeySelected = array_shift($keys);
                                        }
                                        foreach ($locales as $local => $title) {
                                            $selected = '';
                                            if ($localKeySelected == $local) $selected = ' selected="selected"';
                                            echo '<option value="' . $local . '"' . $selected . '>' . $title . '</option>';
                                        }
                                    ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label for="amazon_search_params[searchby]"><?php echo $this->__('Search By')?></label></td>
                                <td class="value">
                                    <select onchange="updateSearchBy();" name="amazon_search_params[searchby]" id="amazon_search_params[searchby]">
                                    <?php
                                        $searchbyTypes = Mage::getModel('amazonimportproducts/source_searchby')->getOptionArray();
                                        if (isset($savedImportSettings['amazon_search_params']['searchby'])) {
                                            $searchbyKeySelected = $savedImportSettings['amazon_search_params']['searchby'];
                                        } else {
                                            $keys = array_keys($searchbyTypes);
                                            $searchbyKeySelected = array_shift($keys);
                                        }
                                        foreach ($searchbyTypes as $searchby => $title) {
                                            $selected = '';
                                            if ($searchbyKeySelected == $searchby) $selected = ' selected="selected"';
                                            echo '<option value="' . $searchby . '"' . $selected . '>' . $title . '</option>';
                                        }
                                        if ($searchbyKeySelected == WP_Amazonimportproducts_Model_Source_Searchby::SEARCHBY_CATEGORY) {
                                            $styleSearchByCategory  = '';
                                            $styleSearchByAsin      = ' style="display:none;"';
                                        } else {
                                            $styleSearchByCategory  = ' style="display:none;"';
                                            $styleSearchByAsin      = '';
                                        }
                                    ?>
                                    </select>
                                </td>
                            </tr>
                        </table>

                        <div class="box-left">
                            <table cellspacing="0" class="form-list">

                                <tbody id="search_by_category"<?php echo $styleSearchByCategory; ?>>
                                <tr>
                                    <td class="label"><label><?php echo $this->__('Category')?></label></td>
                                    <td class="value">
                                        <select onchange="updateAdvancedParametersList();" name="amazon_search_params[category]" id="amazon_search_params[category]">
                                            <?php
                                                $categories = Mage::getModel('amazonimportproducts/source_categories')->getOptionArray($localKeySelected);
                                                if (isset($savedImportSettings['amazon_search_params']['category'])) {
                                                    $categoryKeySelected = $savedImportSettings['amazon_search_params']['category'];
                                                } else {
                                                    $keys = array_keys($categories);
                                                    $categoryKeySelected = array_shift($keys) . '';
                                                }
                                                foreach ($categories as $key => $title) {
                                                    $selected = '';
                                                    if ($categoryKeySelected == $key) $selected = ' selected="selected"';
                                                    echo '<option value="' . $key . '"' . $selected . '>' . $title . '</option>';
                                                }
                                                if ($categoryKeySelected != 'custom') {
                                                    $styleCategoryCustom = 'style="display:none;"';
                                                    $styleCategoryNote = '';
                                                } else {
                                                    $styleCategoryCustom = '';
                                                    $styleCategoryNote = 'style="display:none;"';
                                                    if (isset($savedImportSettings['amazon_search_params']['custom_category'])) {
                                                        list($catIndex, $catId) = explode('/', $savedImportSettings['amazon_search_params']['custom_category'] . '/');
                                                        $categoryKeySelected = "$catId|$catIndex";
                                                    }
                                                }
                                            ?>
                                        </select>
                                        <div id="category_note"<?php echo $styleCategoryNote; ?>>
                                            <p class="note"><span><?php echo $this->__('The list depends on Amazon Local.<br /><a href="javascript:;" onclick="reloadRootCategoriesList()">Update</a> list now from <a target="_blank" href="http://www.findbrowsenodes.com/">www.findbrowsenodes.com</a>')?></span></p>
                                        </div>
                                        <div id="category_custom"<?php echo $styleCategoryCustom; ?>>
                                            <input type="text" class=" input-text" value="<?php echo isset($savedImportSettings['amazon_search_params']['custom_category']) ? $savedImportSettings['amazon_search_params']['custom_category'] : ''; ?>" name="amazon_search_params[custom_category]" id="amazon_search_params[custom_category]">
                                            <p class="note"><span><?php echo $this->__('Example: "Kitchen/3733781". Where "Kitchen" is the search index and "3733781" is the ID of a category. You can find this string <a target="_blank" href="http://www.findbrowsenodes.com/us/Kitchen/284507">here</a> as a part of the URL in the address bar of your browser')?></span></p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>

                                <tbody id="amazon_search_adv_params_box_loading_wrap" style="display:none;">
                                <tr>
                                    <td class="label"><div class="label"></div></td>
                                    <td class="value"><div id="amazon_search_adv_params_box_loading"></div></td>
                                </tr>
                                </tbody>

                                <tbody id="amazon_search_adv_params_box"<?php echo $styleSearchByCategory; ?>>
                                <?php $advParams = Mage::helper('amazonimportproducts')->getAdvancedParameters($localKeySelected, $categoryKeySelected); ?>
                                <?php if (count($advParams)) : ?>
                                <?php foreach($advParams as $param) : ?>
                                <tr>
                                    <td class="label"><?php echo $param['label']; ?></td>
                                    <td class="value"><?php echo $param['field']; ?></td>
                                </tr>
                                <?php endforeach; ?>
                                <?php else : ?>
                                <tr>
                                    <td class="label"><div class="label"></div></td>
                                    <td class="value"><?php echo $this->__('No parameters');?></td>
                                </tr>
                                <?php endif; ?>
                                </tbody>

                                <tbody id="search_by_asin"<?php echo $styleSearchByAsin; ?>>
                                <tr>
                                    <td class="label"><label for="amazon_search_params[asin]"><?php echo $this->__('Amazon Standard Item Number (ASIN)')?></label></td>
                                    <td class="value">
                                        <textarea cols="15" rows="2" class="textarea" name="amazon_search_params[asin]" id="amazon_search_params[asin]"><?php echo isset($savedImportSettings['amazon_search_params']['asin']) ? $savedImportSettings['amazon_search_params']['asin'] : ''; ?></textarea>
                                        <p class="note"><span><?php echo $this->__('Use comma to divide multiple values')?></span></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="entry-edit">
    <form id="import_params_form" name="import_params_form">
        <div>
            <div class="entry-edit">
                <div class="entry-edit-head collapseable">
                    <a id="amazon_import_products_import_params_form-head" href="javascript:;" onclick="Fieldset.toggleCollapse('amazon_import_products_import_params_form'); saveSettings('import_params'); return false;" class="<?php echo $cssImportParamsForm; ?>"><?php echo $titleImportParamsForm; ?></a>
                    <input id="amazon_import_products_import_params_form-state" name="import_params[amazon_import_products_import_params_form]" type="hidden" value="<?php echo $savedImportSettings['import_params']['amazon_import_products_import_params_form']; ?>">
                </div>
                <div class="fieldset" id="amazon_import_products_import_params_form"<?php echo $styleImportParamsForm; ?>>
                    <div class="hor-scroll">
                    <table cellspacing="0" class="form-list box-left">
                        <tr>
                            <td class="label"><label for="import_params[rootCategory]"><?php echo $this->__('Categories')?></label></td>
                            <td class="value">
                                <input type="radio"
                                    name="import_params[categories_type]"
                                    value="new"
                                    <?php echo $savedImportSettings['import_params']['categories_type'] == 'new' ? ' checked="checked" ' : ''; ?>
                                    id="categories_type_new"/>
                                <label for="categories_type_new"><?php echo $this->__('Create categories on the basis of Amazon structure')?></label>
                                <table cellspacing="0" class="form-list subtable">
                                    <tr>
                                        <td class="label">
                                            <label for="import_params[rootCategory]"><?php echo $this->__('Default Root Catalog')?></label>
                                            <select name="import_params[rootCategory]" id="import_params[rootCategory]">
                                            <?php
                                                $catalogs = Mage::getModel('amazonimportproducts/source_catalog')->toOptionArray();
                                                if (isset($savedImportSettings['import_params']['rootCategory'])) {
                                                    $keySelected = $savedImportSettings['import_params']['rootCategory'];
                                                } else {
                                                    $keySelected = Mage::getModel('amazonimportproducts/observer')->getProductRootCatalogPath();
                                                }
                                                foreach ($catalogs as $key => $name) {
                                                    $selected = '';
                                                    if ($keySelected == $key) $selected = ' selected="selected"';
                                                    echo '<option value="' . $key . '"' . $selected . '>' . $name . '</option>';
                                                }
                                            ?>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label">
                                            <label for="import_params[defaultCategoryIsAnchor]"><?php echo $this->__('Default value of "Is Anchor" for new categories')?></label>
                                            <select name="import_params[defaultCategoryIsAnchor]" id="import_params[defaultCategoryIsAnchor]">
                                            <?php
                                                $isAnchor = array('0' => $this->__('No'), '1' => $this->__('Yes'));
                                                if (isset($savedImportSettings['import_params']['defaultCategoryIsAnchor'])) {
                                                    $keySelected = $savedImportSettings['import_params']['defaultCategoryIsAnchor'];
                                                } else {
                                                    $keySelected = $configImport['category_is_anchor'];
                                                }
                                                foreach ($isAnchor as $key => $value) {
                                                    $selected = '';
                                                    if ($keySelected == $key) $selected = ' selected="selected"';
                                                    echo '<option value="' . $key . '"' . $selected . '>' . $value . '</option>';
                                                }
                                            ?>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                                <p></p>
                                <input type="radio"
                                    name="import_params[categories_type]"
                                    value="exists"
                                    <?php echo $savedImportSettings['import_params']['categories_type'] == 'exists' ? ' checked="checked" ' : ''; ?>
                                    id="categories_type_exists"/>

                                <label for="categories_type_exists"><?php echo $this->__('Use existing categories')?></label>
                                <table cellspacing="0" class="form-list subtable">
                                    <tr>
                                        <td class="label">
                                            <dl id="selection_existing_categories"><?php echo isset($savedImportSettings['selection_existing_categories']) ? $savedImportSettings['selection_existing_categories'] : $this->__('Not selected')?></dl>
                                            <p></p>
                                            <a href="javascript:;" onclick="$('categories_type_exists').checked = true; openExistingCategoriesSelector();"><?php echo $this->__('Select from existing categories...')?></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <table cellspacing="0" class="form-list box-left">
                            <tr>
                                <td class="label"><label for="amazon_search_params[defaultCondition]"><?php echo $this->__('Default Condition')?></label></td>
                                <td class="value">
                                    <select name="amazon_search_params[defaultCondition]" id="amazon_search_params[defaultCondition]">
                                    <?php
                                        $locales = Mage::getModel('amazonimportproducts/source_condition')->toOptionArray();
                                        if (isset($savedImportSettings['amazon_search_params']['defaultCondition'])) {
                                            $keySelected = $savedImportSettings['amazon_search_params']['defaultCondition'];
                                        } else {
                                            $keySelected = $configImport['product_condition'];
                                        }
                                        foreach ($locales as $key => $name) {
                                            $selected = '';
                                            if ($keySelected == $key) $selected = ' selected="selected"';
                                            echo '<option value="' . $key . '"' . $selected . '>' . $name . '</option>';
                                        }
                                    ?>
                                    </select>
                                    <p class="note"><span><?php echo $this->__('Enables you to specify a condition of a desired product')?></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label for="amazon_search_params[defaultPrice]"><?php echo $this->__('Default Price')?></label></td>
                                <td class="value">
                                    <select name="amazon_search_params[defaultPrice]" id="amazon_search_params[defaultPrice]">
                                    <?php
                                        $locales = Mage::getModel('amazonimportproducts/source_price')->toOptionArray();
                                        if (isset($savedImportSettings['amazon_search_params']['defaultPrice'])) {
                                            $keySelected = $savedImportSettings['amazon_search_params']['defaultPrice'];
                                        } else {
                                            $keySelected = $configImport['product_price'];
                                        }
                                        foreach ($locales as $key => $name) {
                                            $selected = '';
                                            if ($keySelected == $key) $selected = ' selected="selected"';
                                            echo '<option value="' . $key . '"' . $selected . '>' . $name . '</option>';
                                        }
                                    ?>
                                    </select>
                                    <p class="note"><span><?php echo $this->__('Product price selected from prices offered by sellers')?></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label for="amazon_search_params[defaultPricePlusPercent]"><?php echo $this->__('Default Price Adjustment, pA (%)')?></label></td>
                                <td class="value">
                                    <input type="text" class=" input-text" value="<?php echo isset($savedImportSettings['amazon_search_params']['defaultPricePlusPercent']) ? $savedImportSettings['amazon_search_params']['defaultPricePlusPercent'] : $configImport['product_price_add_percent']; ?>" name="amazon_search_params[defaultPricePlusPercent]" id="amazon_search_params[defaultPricePlusPercent]">
                                    <p class="note"><span><?php echo $this->__('Percentage of the Converted Price')?></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label for="amazon_search_params[defaultPricePlusUnit]"><?php echo $this->__('Default Price Adjustment, pB')?></label></td>
                                <td class="value">
                                    <input type="text" class=" input-text" value="<?php echo isset($savedImportSettings['amazon_search_params']['defaultPricePlusUnit']) ? $savedImportSettings['amazon_search_params']['defaultPricePlusUnit'] : $configImport['product_price_add_unit']; ?>" name="amazon_search_params[defaultPricePlusUnit]" id="amazon_search_params[defaultPricePlusUnit]">
                                    <p class="note"><span><?php echo $this->__('Unit of Base Currency')?></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label for="amazon_search_params[defaultPriceNewPlusPercent]"><?php echo $this->__('Default Price Adjustment, pC (%)')?></label></td>
                                <td class="value">
                                    <input type="text" class=" input-text" value="<?php echo isset($savedImportSettings['amazon_search_params']['defaultPriceNewPlusPercent']) ? $savedImportSettings['amazon_search_params']['defaultPriceNewPlusPercent'] : $configImport['product_price_new_add_c']; ?>" name="amazon_search_params[defaultPriceNewPlusPercent]" id="amazon_search_params[defaultPriceNewPlusPercent]">
                                    <p class="note"><span><?php echo $this->__('Percentage of the Converted Price')?></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label for="amazon_search_params[defaultImportStatus]"><?php echo $this->__('Default Import Status')?></label></td>
                                <td class="value">
                                    <select name="amazon_search_params[defaultImportStatus]" id="amazon_search_params[defaultImportStatus]">
                                    <?php
                                        $locales = Mage::getModel('amazonimportproducts/source_status')->toOptionArray();
                                        if (isset($savedImportSettings['amazon_search_params']['defaultImportStatus'])) {
                                            $keySelected = $savedImportSettings['amazon_search_params']['defaultImportStatus'];
                                        } else {
                                            $keySelected = $configImport['load_product_status'];
                                        }
                                        foreach ($locales as $key => $name) {
                                            $selected = '';
                                            if ($keySelected == $key) $selected = ' selected="selected"';
                                            echo '<option value="' . $key . '"' . $selected . '>' . $name . '</option>';
                                        }
                                    ?>
                                    </select>
                                    <p class="note"><span><?php echo $this->__('Status of products that are downloaded from Amazon')?></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label for="amazon_search_params[sku]"><?php echo $this->__('SKU')?></label></td>
                                <td class="value">
                                    <select name="amazon_search_params[sku]" id="amazon_search_params[sku]">
                                    <?php
                                        $sku = Mage::getModel('amazonimportproducts/source_assku')->toOptionArray();
                                        if (isset($savedImportSettings['amazon_search_params']['sku'])) {
                                            $keySelected = $savedImportSettings['amazon_search_params']['sku'];
                                        } else {
                                            $keySelected = $configImport['load_product_sku'];
                                        }
                                        foreach ($sku as $key => $name) {
                                            $selected = '';
                                            if ($keySelected == $key) $selected = ' selected="selected"';
                                            echo '<option value="' . $key . '"' . $selected . '>' . $name . '</option>';
                                        }
                                    ?>
                                    </select>
                                    <p class="note"><span><?php echo $this->__('Use one of the above options as a SKU. Multiple values are possible. Next value is only used when the previous one is empty')?></span></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="sp"></div>
<script type="text/javascript">
//<![CDATA[
    function wpOpenHelpTip()
    {
        $('help-tip').show();
        $('help-tip-button').remove();
    }

    var SEARCHBY_CATEGORY = '<?php echo WP_Amazonimportproducts_Model_Source_Searchby::SEARCHBY_CATEGORY; ?>';

    function updateSearchBy()
    {
        saveSettings(); // --- save param to session
        var searchBy = $('amazon_search_params[searchby]').getValue();
        if (searchBy == SEARCHBY_CATEGORY) {
            $('amazon_search_adv_params_box_loading_wrap').hide();
            $('search_by_asin').hide();
            $('search_by_category').show();
            $('amazon_search_adv_params_box').show();
        } else {
            $('amazon_search_adv_params_box_loading_wrap').hide();
            $('search_by_category').hide();
            $('amazon_search_adv_params_box').hide();
            $('search_by_asin').show();
        }
    }

    function saveSettings(id)
    {
        if (id == 'import_params') {
            var formTitle = '';
            if ($('amazon_import_products_import_params_form-state').getValue() == 0) {
                formTitle = '<?php echo $this->__('Import Options (click to expand the form)')?>';
            } else {
                formTitle = '<?php echo $this->__('Import Options (click to collapse the form)')?>';
            }
            $('amazon_import_products_import_params_form-head').update(formTitle);
        }
        new Ajax.Request('<?php echo $urlSaveSettings; ?>', {
            asynchronous: true,
            method: 'post',
            loaderArea: false,
            parameters: getImportFormValues(),
            onComplete: function(transport) {
                var responseJSON = transport.responseText.evalJSON();
                if (responseJSON.ajaxExpired && responseJSON.ajaxRedirect) {
                    setLocation(responseJSON.ajaxRedirect);
                    return;
                }
            }
        });
    }

    function clearImportList()
    {
        new Ajax.Request('<?php echo $this->getUrl('*/*/clear'); ?>', {
            asynchronous: true,
            method: 'post',
            loaderArea: false,
            parameters: getImportFormValues(),
            onComplete: function(transport) {
                var responseJSON = transport.responseText.evalJSON();
                if (responseJSON.ajaxExpired && responseJSON.ajaxRedirect) {
                    setLocation(responseJSON.ajaxRedirect);
                    return;
                }
                if (responseJSON.redirect) setLocation(responseJSON.redirect);
            }
        });
    }

    function SearchParamsFormSubmit()
    {
        wpAmazonImportPopupParams.url = '<?php echo $this->getUrl('*/*/load') ?>';
        wpAmazonImportPopupParams.title = '<?php echo $this->__('Find Products'); ?>';
        wpAmazonImportPopupParams.startText = '<?php echo $this->__('Processing...') ?>';
        wpAmazonImportPopupParams.hideStopButton = false;
        wpAmazonImportPopupParams.data = getImportFormValues();
        wpAmazonImportPopupParams.data.startProcess = 1;
        wpOpenImportAmazonPopup();
    }

    function ImportProductsList()
    {
        var ids = amazonimportproductsGrid_massactionJsObject.getCheckedValues();
        if (ids == '') force = 0; else force = 1;
        var sendData = getImportFormValues();
        sendData.force = force;
        sendData.amazonimportproducts = ids;
        sendData.startProcess = 1;
        wpAmazonImportPopupParams.url = '<?php echo $this->getUrl('*/*/process') ?>';
        wpAmazonImportPopupParams.title = '<?php echo $this->__('Import Products'); ?>';
        wpAmazonImportPopupParams.startText = '<?php echo $this->__('Processing...') ?>';
        wpAmazonImportPopupParams.hideStopButton = false;
        wpAmazonImportPopupParams.data = sendData;
        wpOpenImportAmazonPopup();
    }

    function getImportFormValues()
    {
        var params = {};
        var fields = $('search_params_form').getElements();
        for(var i=0; i<fields.length; i++) {
            if (!fields[i].name) continue;
            if (params[fields[i].name]) continue;
            params[fields[i].name] = fields[i].getValue();
        }
        var fields = $('import_params_form').getElements();
        for(var i=0; i<fields.length; i++) {
            if (!fields[i].name) continue;
            if (params[fields[i].name]) continue;
            params[fields[i].name] = fields[i].getValue();
        }
        params[$('amazon_import_product_categories').name] = $('amazon_import_product_categories').getValue();
        params['selection_existing_categories'] = $('selection_existing_categories').innerHTML;
        return params;
    }

    function updateRootCategoriesList(force)
    {
        if (typeof force == 'undefined') force = 0;
        var sendData = getImportFormValues();
        sendData.local = $('amazon_search_params[local]').getValue();
        sendData.force = force;
        new Ajax.Request('<?php echo $this->getUrl('*/*/catlocal') ?>', {
            asynchronous: true,
            method: 'post',
            loaderArea: true,
            parameters: sendData,
            onComplete: function(transport) {
                var responseJSON = transport.responseText.evalJSON();
                if (responseJSON.ajaxExpired && responseJSON.ajaxRedirect) {
                    setLocation(responseJSON.ajaxRedirect);
                    return;
                }
                if (responseJSON.html) {
                    Element.replace('amazon_search_params[category]', responseJSON.html);
                    updateAdvancedParametersList();
                }
            }
        });
    }

    var timer = null;
    $('amazon_search_params[custom_category]').observe('keyup', function() {
        if (timer) {
            clearTimeout(timer);
            timer = null;
        }
        timer = setTimeout(function(){
            updateAdvancedParametersList();
        }, 777);
    });

    function updateAdvancedParametersList()
    {
        var sendData = getImportFormValues();
        sendData.local = $('amazon_search_params[local]').getValue();
        sendData.rootCategory = $('amazon_search_params[category]').getValue();
        if (sendData.rootCategory == 'custom') {
            $('category_note').hide();
            $('category_custom').show();
            var customCatValue = $('amazon_search_params[custom_category]').getValue();
            var customCat = customCatValue.split('/');
            sendData.rootCategory = customCat[1] + '|' + customCat[0];
        } else {
            $('category_custom').hide();
            $('category_note').show();
        }
        var searchBy = $('amazon_search_params[searchby]').getValue();
        if (searchBy == SEARCHBY_CATEGORY) {
            $('amazon_search_adv_params_box').hide();
            $('amazon_search_adv_params_box_loading_wrap').show();
        }
        new Ajax.Request('<?php echo $this->getUrl('*/*/advparams') ?>', {
            asynchronous: true,
            method: 'post',
            loaderArea: false,
            parameters: sendData,
            onComplete: function(transport) {
                if (searchBy == SEARCHBY_CATEGORY) {
                    $('amazon_search_adv_params_box_loading_wrap').hide();
                    $('amazon_search_adv_params_box').show();
                }
                var responseJSON = transport.responseText.evalJSON();
                if (responseJSON.ajaxExpired && responseJSON.ajaxRedirect){
                    setLocation(responseJSON.ajaxRedirect);
                    return;
                }
                if (searchBy == SEARCHBY_CATEGORY && responseJSON.html) {
                    Element.replace('amazon_search_adv_params_box', responseJSON.html);
                }
            }
        });
    }

    function reloadRootCategoriesList()
    {
        if (!confirm('<?php echo $this->__('Are you sure?'); ?>')) return false;
        updateRootCategoriesList(1);
    }

    window.onload = function(){
        amazonimportproductsGrid_massactionJsObject.apply = function() {
            if (varienStringArray.count(this.checkedString) == 0) {
                alert(this.errorText);
                return;
            }
            var item = this.getSelectedItem();
            if (!item) {
                this.validator.validate();
                return;
            }
            this.currentItem = item;
            var fieldName = (item.field ? item.field : this.formFieldName);
            var fieldsHtml = '';
            if(this.currentItem.confirm && !window.confirm(this.currentItem.confirm)) {
                return;
            }
            this.formHiddens.update('');
            new Insertion.Bottom(this.formHiddens, this.fieldTemplate.evaluate({name: fieldName, value: this.checkedString}));
            new Insertion.Bottom(this.formHiddens, this.fieldTemplate.evaluate({name: 'massaction_prepare_key', value: fieldName}));
            if (!this.validator.validate()) {
                return;
            }
            if (item.url && item.url == 'forceImport') {
                ImportProductsList();
                return false;
            } else {
                if(this.useAjax && item.url) {
                    new Ajax.Request(item.url, {
                        'method': 'post',
                        'parameters': this.form.serialize(true),
                        'onComplete': this.onMassactionComplete.bind(this)
                    });
                } else if(item.url) {
                    this.form.action = item.url;
                    this.form.submit();
                }
            }
        }
    };
//]]>
</script>
