<div class="entry-edit">
    <fieldset class="help-tip-fieldset">
        <p class="grand-total"><b><?php echo $this->__('How to synchronize product information with Amazon? <a id="help-tip-button" href="javascript:;" onclick="wpOpenHelpTip()">Find out</a>'); ?></b></p>
        <div id="help-tip" style="display:none;">
            <p><?php echo $this->__('Simply click on the "Synchronize Information manually" button. For automatic synchronization, you must enable <a href="%s">Magento Cron Job Tasks</a>.', 'http://www.magentocommerce.com/wiki/1_-_installation_and_configuration/how_to_setup_a_cron_job'); ?></p>
            <?php echo Mage::helper('amazonimportproducts')->syncParamsInfo(); ?>
        </div>
        <?php $info = Mage::helper('amazonimportproducts')->emptySettingsInfo(); if ($info) echo $info; ?>
    </fieldset>
</div>
<script type="text/javascript">
//<![CDATA[
    function wpOpenHelpTip()
    {
        $('help-tip').show();
        $('help-tip-button').remove();
    }
    function SyncProductsList()
    {
        wpAmazonImportPopupParams.url = '<?php echo $this->getUrl('*/*/process') ?>';
        wpAmazonImportPopupParams.title = '<?php echo $this->__('Synchronize information manually'); ?>';
        wpAmazonImportPopupParams.startText = '<?php echo $this->__('Processing...') ?>';
        wpAmazonImportPopupParams.hideStopButton = false;
        wpAmazonImportPopupParams.data = {'startProcess': 1};
        wpOpenImportAmazonPopup();
    }
    function ReloadProduct(productId)
    {
        wpAmazonImportPopupParams.url = '<?php echo $this->getUrl('*/*/reload') ?>';
        wpAmazonImportPopupParams.title = '<?php echo $this->__('Reloading all information of the product'); ?>' + ': ' + productId;
        wpAmazonImportPopupParams.startText = '<?php echo $this->__('Reloading...') ?>';
        wpAmazonImportPopupParams.hideStopButton = true;
        wpAmazonImportPopupParams.data = {'productId': productId};
        wpAmazonImportPopupParams.once = true;
        wpOpenImportAmazonPopup();
    }
    function SyncProduct(productId)
    {
        wpAmazonImportPopupParams.url = '<?php echo $this->getUrl('*/*/synconce') ?>';
        wpAmazonImportPopupParams.title = '<?php echo $this->__('Synchronization of the product'); ?>' + ': ' + productId;
        wpAmazonImportPopupParams.startText = '<?php echo $this->__('Processing...') ?>';
        wpAmazonImportPopupParams.hideStopButton = true;
        wpAmazonImportPopupParams.data = {'productId': productId};
        wpAmazonImportPopupParams.once = true;
        wpOpenImportAmazonPopup();
    }
    function ResetProductsParking()
    {
        setLocation('<?php echo $this->getUrl('*/*/resetparking'); ?>');
    }
//]]>
</script>
