<?php
/**
 * Override default autocomplete feature to find products directly
 *
 * @category    Bubble
 * @package     Bubble_Elasticsearch
 * @version     2.0.10
 * @copyright   Copyright (c) 2015 BubbleShop (https://www.bubbleshop.net)
 */
/**
 * @var $this Bubble_Elasticsearch_Block_Catalogsearch_Autocomplete
 */
$_collection = $this->getProductCollection();
$_imgSize = $this->getImageSize();
?>
<ul class="bubble-elasticsearch">
    <li style="display:none;"></li>
    <?php if (!$_collection->count()): ?>
        <li><a href="#"><?php echo $this->helper('elasticsearch')->__('No Result') ?></a></li>
    <?php else: ?>
        <?php foreach ($_collection as $_product): ?>
            <li>
                <a href="<?php echo $this->escapeUrl($_product->getProductUrl()) ?>"
                   title="<?php echo $this->escapeHtml($_product->getName()) ?>">
                    <?php if ($this->shouldDisplayImage()): ?>
                        <div class="image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize($_imgSize); ?>" width="<?php echo $_imgSize ?>" height="<?php echo $_imgSize ?>" alt="<?php echo $this->escapeHtml($_product->getName()) ?>" /></div>
                    <?php endif; ?>
                    <div class="info">
                        <span class="name"><?php echo $_product->getName() ?></span>
                        <?php if ($this->shouldDisplayPrice()): ?>
                            <span class="price"><?php echo $this->getPriceHtml($_product) ?></span>
                        <?php endif; ?>
                    </div>
                    <div class="clearer"><!-- --></div>
                </a>
            </li>
        <?php endforeach; ?>
        <?php if ($_collection->getSize() > $this->getLimit()): ?>
            <li class="all-results">
                <a href="<?php echo $this->escapeUrl($this->getResultUrl()) ?>">
                    <?php echo $this->helper('elasticsearch')->__('All Results (%s)', $_collection->getSize()) ?>
                </a>
            </li>
        <?php endif; ?>
    <?php endif; ?>
</ul>
