<?php
/**
 * @category    Bubble
 * @package     Bubble_Elasticsearch
 * @version     2.0.10
 * @copyright   Copyright (c) 2015 BubbleShop (https://www.bubbleshop.net)
 *
 * @var $this Bubble_Elasticsearch_Block_Catalogsearch_Suggest
 */
$suggestion = $this->getSuggestion();
?>
<?php if (!empty($suggestion)): ?>
    <h2><em><?php echo $this->__('Did you mean %s?', '<a href="'. $this->getQueryUrl($suggestion) .'">'. $suggestion .'</a>'); ?></em></h2>
<?php endif; ?>