<h2 style="border-bottom:1px solid #ededed;">Reward Points : <?php echo $this->getPoints() ?></h2>
<?php if($this->canRequest()){ ?>
	<button class="button" onclick="setLocation('<?php echo Mage::getUrl('productcreator/requestwatt/access') ?>')">Request Watt Access</button>
<?php }else{ ?>
	<h2><?php echo $this->getMessage() ?></h2>
<?php } ?>