<?php

$imgUrl = Mage::getDesign()->getSkinUrl('amazonimportproducts/images/attributes.png', array(
    '_area' => 'adminhtml',
    '_secure' => true,
));
$example1 = htmlentities('{{var attr="Manufacturer"}}');
$example2 = htmlentities('Color: {{var attr="Color"}}, Size: {{var attr="Size"}}');
$example3 = htmlentities('[{{var attr="ListPrice/Amount"}} * 2.5 / 100 + 15]');


$_htmlId = $this->getHtmlId() ? $this->getHtmlId() : '_' . uniqid();

$_colspan = 2;
if (!$this->_addAfter) {
    $_colspan -= 1;
}
$_colspan = $_colspan > 1 ? 'colspan="' . $_colspan . '"' : '';
?>

<div class="grid" id="grid<?php echo $_htmlId ?>">
    <table cellpadding="0" cellspacing="0" class="border">
        <tbody>

            <tr class="headings" id="headings<?php echo $_htmlId ?>">
<?php foreach ($this->_columns as $columnName => $column):?>
                <th><?php echo $column['label'] ?></th>
<?php endforeach;?>
                <th <?php echo $_colspan?>></th>
            </tr>

            <tr id="addRow<?php echo $_htmlId ?>">
                <td colspan="<?php echo count($this->_columns) ?>"></td>
                <td <?php echo $_colspan?>>
                    <button style="" onclick="" class="scalable add" type="button" id="addToEndBtn<?php echo $_htmlId ?>">
                        <span><span><span><?php echo $this->_addButtonLabel ?></span></span></span>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
    <input type="hidden" name="<?php echo $this->getElement()->getName() ?>[__empty]" value="" />
    <div id="help-tip-mapping-head">
        <strong>Expression with Amazon API Attribute</strong> field formatting rules:
        <a href="javascript:;" onclick="this.remove(); $('help-tip-mapping').show();">Click to view details</a>
    </div>
    <div id="help-tip-mapping" style="display:none;">
        1. Load any product into the temporary list.<br />
        2. Edit the product.<br />
        3. Click the "Additional attributes" tab.<br>
        Here you can find <a href="javascript:;" onclick="popWin('<?php echo $imgUrl ?>', 'image', 'width=800, height=600, resizable=yes, scrollbars=yes')">a list of attributes</a> which can be used for a product mapping for this kind of products.<br />
        <b>Depending on the product type a list of attributes changes.</b><br />
        <br />
        Examples:<br />
        - <input onclick="Form.Element.select(this)" type="textbox" readonly="readonly" class="label-text input-text" value="<?php echo $example1 ?>"/><br />
        - <input onclick="Form.Element.select(this)" type="textbox" readonly="readonly" class="label-text input-text" value="<?php echo $example2 ?>" /><br />
        <br />
        <b>Mathematical equations are possible.</b><br />
        In this case the equation should be enclosed in brackets.<br />
        Examples:<br />
        - <input onclick="Form.Element.select(this)" type="textbox" readonly="readonly" class="label-text input-text" value="<?php echo $example3 ?>" /><br />
        <b>It is possible to define a custom PHP function.</b><br />
        Custom PHP function can be used to manipulate data taken from Amazon store. Please refere to the <a href="http://web-experiment.info/articles/cat/amazon/post/amp_custom_php_attributes_modifier/">user guide</a>
    </div>
</div>
<div id="empty<?php echo $_htmlId ?>">
    <button style="" onclick="" class="scalable add" type="button" id="emptyAddBtn<?php echo $_htmlId ?>">
        <span><span><span><?php echo $this->_addButtonLabel ?></span></span></span>
    </button>
</div>

<script type="text/javascript">
//<![CDATA[
// create row creator
var arrayRow<?php echo $_htmlId ?> = {
    // define row prototypeJS template
    template : new Template(
        '<tr id="#{_id}">'
<?php foreach ($this->_columns as $columnName => $column):?>
            +'<td>'
                +'<?php echo $this->_renderCellTemplate($columnName)?>'
            +'<\/td>'
<?php endforeach;?>
<?php if ($this->_addAfter):?>
            +'<td><button onclick="" class="scalable add" type="button" id="addAfterBtn#{_id}"><span><span><span><?php echo Mage::helper('adminhtml')->__('Add after') ?><\/span><\/span><\/span><\/button><\/td>'
<?php endif;?>
            +'<td><button onclick="arrayRow<?php echo $_htmlId ?>.del(\'#{_id}\')" class="scalable delete" type="button"><span><span><span><?php echo Mage::helper('adminhtml')->__('Delete') ?><\/span><\/span><\/span><\/button><\/td>'
        +'<\/tr>'
    ),

    rowsCount : 0,

    add : function(templateData, insertAfterId)
    {
        // generate default template data
        if ('' == templateData) {
            var d = new Date();
            var templateData = {
<?php foreach ($this->_columns as $columnName => $column):?>
                <?php echo $columnName ?> : '',
<?php endforeach;?>
                _id : '_' + d.getTime() + '_' + d.getMilliseconds()
            };
        }

        // insert before last row
        if ('' == insertAfterId) {
            Element.insert($('addRow<?php echo $_htmlId ?>'), {before: this.template.evaluate(templateData)});
        }
        // insert after specified row
        else {
            Element.insert($(insertAfterId), {after: this.template.evaluate(templateData)});
        }

<?php if ($this->_addAfter):?>
        Event.observe('addAfterBtn' + templateData._id, 'click', this.add.bind(this, '', templateData._id));
<?php endif;?>

        this.rowsCount += 1;
    },

    del : function(rowId)
    {
        $(rowId).remove();
        this.rowsCount -= 1;
        if (0 == this.rowsCount) {
            this.showButtonOnly();
        }
    },

    showButtonOnly : function()
    {
        $('grid<?php echo $_htmlId ?>').hide();
        $('empty<?php echo $_htmlId ?>').show();
    }
}

// bind add action to "Add" button in last row
Event.observe('addToEndBtn<?php echo $_htmlId ?>', 'click', arrayRow<?php echo $_htmlId ?>.add.bind(arrayRow<?php echo $_htmlId ?>, '', ''));

// add existing rows
<?php
$_addAfterId = "headings{$_htmlId}";
foreach ($this->getArrayRows() as $_rowId => $_row) {
    echo "arrayRow{$_htmlId}.add(" . $_row->toJson() . ", '{$_addAfterId}');\n";
    $_addAfterId = $_rowId;
}
?>

// initialize standalone button
$('empty<?php echo $_htmlId ?>').hide();
Event.observe('emptyAddBtn<?php echo $_htmlId ?>', 'click', function () {
    $('grid<?php echo $_htmlId ?>').show();
    $('empty<?php echo $_htmlId ?>').hide();
    arrayRow<?php echo $_htmlId ?>.add('', '');
});

// if no rows, hide grid and show button only
<?php if (!$this->getArrayRows()):?>
arrayRow<?php echo $_htmlId ?>.showButtonOnly();
<?php endif;?>

// toggle the grid, if element is disabled (depending on scope)
<?php if ($this->getElement()->getDisabled()):?>
toggleValueElements({checked:true}, $('grid<?php echo $_htmlId ?>').parentNode);
<?php endif;?>
//]]>
</script>

<script type="text/javascript">
    var selectGroup = $$('select.wp_init');
    selectGroup.each(function(item){
        var val = item.readAttribute('rel');
        var opts = item.options;
        var len = item.options.length;
        k = 0;
        for (var i = 0; i < len; i++) {
            if (opts[i].value == val) {
                k = i;
                break;
            }
        }
        opts[k].selected = true;
        item.setAttribute('title', opts[k].text);
    });
</script>
